# Neon Database with Connection Pooler
DATABASE_URL="postgresql://[user]:[password]@[host]/[database]?sslmode=require&pgbouncer=true"

# Direct connection (for migrations only)
DIRECT_DATABASE_URL="postgresql://[user]:[password]@[host]/[database]?sslmode=require"

# Prisma
PRISMA_GENERATE_DATAPROXY="false"
